html
	head
		link(rel='stylesheet', type='text/css', href='css/style.css')
		script(src='js/script.js')
	body
		#screen
			.logoSwag
			img.logo(src='img/logo.png')
			form(action='/search')
				input.godBox(placeholder='Type or say search query and press enter', name='command', method='post')
