* {
    margin: 0;
    padding: 0;
}

.godBox {
    width: 50%;
    padding: 2%;
    border-radius: 10px;
    margin: 24%;
    font-size: 160%;
    outline: none;
    border: 2px white solid;
    background-color: rgba(0,0,0,0.3);
    color: white;
    text-align: center;
 }

 .logo {
    width: 10%;
    margin-left: 45%;
    margin-top: 10%;
    position: absolute;
 }

 .logoSwag {
    width: 100%;
    height: auto;
    margin: 0 auto;
 }

 *::-webkit-input-placeholder {
    color: white;
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: white;
}
*::-moz-placeholder {
    /* FF 19+ */
    color: white;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: white;
}

#screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: gainsboro;
    font: normal 1em Arial,sans-serif;
    position:absolute;
    
}
#stats {
    margin: 10px;
    background: rgba(255,255,255,.5);
    border: 1px solid rgba(0,0,0,.2);
    padding: 5px;
}

.content {
   
}

.contentHolder {
    padding: 2%;
    width: 100%;
    border-radius: 10px;
    color: white;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    background-color: rgba(0,0,0,.5);
}